<pf-wizard wizard-title="Wizard Title"
           wizard-ready="wctrl.ready"
           on-finish="wctrl.finish()"
           on-cancel="wctrl.cancel()"
           wizard-done="wctrl.done">

    <pf-wizard-step focus-selectors="focusSelectors" step-title="Second Step" next-tooltip="secondStepNextTooltip"
                    prev-tooltip="secondStepPrevTooltip" substeps="false" step-id="configuration" step-priority="1"
                    show-review="true" review-template="review-second-template.html">
        <form class="form-horizontal">
            <pf-form-group pf-label="Key" pf-label-class="col-sm-3 col-md-2" pf-input-class="col-sm-9 col-md-10">
                <input id="new-key" name="Key" ng-model="wctrl.key" type="text"/>
            </pf-form-group>
            <pf-form-group pf-label="Value" pf-label-class="col-sm-3 col-md-2" pf-input-class="col-sm-9 col-md-10">
                <input id="new-value" name="Value" ng-model="wctrl.value" type="text"/>
            </pf-form-group>
        </form>
    </pf-wizard-step>

</pf-wizard>