<div class="row" ng-controller="TransactionCtrl as ctrl">
    <div class="col-md-12">
        <pf-toolbar id="toolbar" config="ctrl.toolbarConfig"></pf-toolbar>
    </div>
    <div class="col-md-12">
        <div class="spinner spinner-lg" ng-if="ctrl.loading"></div>
        <pf-table-view ng-if="!ctrl.loading" id="transactionTableView"
                       config="ctrl.config"
                       empty-state-config="ctrl.emptyStateConfig"
                       columns="ctrl.columns"
                       items="ctrl.transactions"
                       action-buttons="ctrl.actionButtons"
                       menu-actions="ctrl.menuActions"
                       empty-state-action-buttons="ctrl.emptyStateAction"
                       page-config="ctrl.pageConfig">
        </pf-table-view>
    </div>
</div>

